[Desktop Entry]
Name=Spectrum Dark Blur
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=spectrum-dark-blur-aurorae
X-KDE-PluginInfo-Version=1.0
