[Desktop Entry]
Name=Genome D. 21 Alt
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=genome-dark-21-alt-aurorae
X-KDE-PluginInfo-Version=1.1
