[Desktop Entry]
Comment=Contains all Maw Sit Sit themes
Name=Spectrum Maw Sit Sit
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=spectrum-mawsitsit
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=https://www.pling.com/p/1450417/
X-KDE-ServiceTypes=Plasma/LookAndFeel


X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1449507,kns://plasma-themes.knsrc/api.kde-look.org/1449495,kns://plasma-themes.knsrc/api.kde-look.org/1454818,kns://plasma-themes.knsrc/api.kde-look.org/1449501,kns://plasma-themes.knsrc/api.kde-look.org/1510281,kns://icons.knsrc/api.kde-look.org/1449532,kns://aurorae.knsrc/api.kde-look.org/1479172,kns://aurorae.knsrc/api.kde-look.org/1511192
