[Desktop Entry]
Name=Genome L. 21 Outline
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=genome-light-21-outline-aurorae
X-KDE-PluginInfo-Version=1.1
