[ContrastEffect]
contrast=.8
enabled=true
intensity=1.0
saturation=1.5

[Desktop Entry]
Comment=Spectrum Minimal Ultra, a respin of Breeze by the KDE VDG.
Name=Spectrum Minimal Ultra
X-KDE-PluginInfo-Author=doncsugar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=spectrum-minimal-ultra-basic
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=Next
defaultWidth=1920
